/***animations***/
#login-form {
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}
#register-form {
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}

#snackbar {
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/***buttons***/
.MuiButton-root.send {
  height: 40px;
}

@media (max-width: 768px) {
  .MuiButton-root.send {
    height: 35px;
  }
}

/***sidebar***/
@media (max-width: 765px) {
  #sidebar-base {
    display: none;
  }
}

/***profile***/
@media (min-width: 766px) {
  #profile {
    display: none;
  }
}

/***friend***/
@media (min-width: 766px) {
  #add-friend {
    display: none;
  }
}

/***bottom bar***/
@media (max-width: 767px) {
  #bottom-title {
    display: none;
  }
}
